<div class="container col-md-12 ">
    <div class="row">

       <h2>Retail Analytics</h2> 
    </div>
        <div class="row c_ml mt-5">
           <h4>Group 1 and 2</h4> 
        </div>

        <!-- <div class="row c_ml mt-3">
            <h6>Please upload both image and json links before proceeding</h6> 
         </div> -->

        
        <!-- <div class="row c_ml mt-5">
        <input type='file' (change)="readURL($event);" />
        </div> -->

        <div class="row c_ml">
            <div class="col-md-1"></div>
            <div class="col-md-4 mt-5">
                <div class="row">
                <input type="text" id="analyzed_data_url" autocomplete="on"/>
            
                <button type="button" class="btn btn-primary" (click)="fetchJSONfromURL()">Upload JSON</button>
                    </div>
    
                    <div class="row mt-5 c_tbl" [hidden]="!showTable" >
                        <table class="table table-hover table-bordered" cellspacing="0">
                            <thead>
                              <tr>
                                <th>UPC</th>
                                <th>Product Short Name</th>
                                <th>No of Facings</th>
                                <th>Brand Name</th>
                                <th>Shelf Level</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let td of tableData" (click)="productClick(td);">
                                <td>{{td.upc}}</td>
                                <td>{{td.productShortName}}</td>
                                <td></td>
                                <td>{{td.brandName}}</td>
                                <td>{{td.shelfLevel}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
    
            </div>
            <div class="col-md-1"></div>
            
            <div class="col-md-1"></div>     
            <div class="col-md-4  mt-5">
            <div class="row">
        <input type="text" id="image_url" autocomplete="on" />
                
        <button type="button" class="btn btn-primary" (click)="readURL()">Upload Image</button>
        </div>
        <!-- <div class="row mt-3">
            <button type="button" class="btn btn-primary" (click)="readURL()">Upload Image</button>
        </div> -->
        <div class="row mt-5">
            <div id="img_container" class="row mt-5" [hidden]="!showImage">
                 <img id="image_plain" src="#" alt=""  style="display: none;"/> 
                <canvas id="myCanvas" width="700" height="700" (mouseenter) ="mouseEnter($event) "  (mouseleave) ="mouseLeave($event)"></canvas>
        </div>
        </div>
        </div>
        <div class="col-md-1"></div>


        


        </div>

        <div class="row c_ml mt-5">
          <div class="col-md-6">
            <h4>Group 3</h4>
          </div>
          <div class="col-md-6">
            <h4>Group 4</h4>
          </div>  
 
         </div>

         <div class="row c_ml mt-5">
          <div class="col-md-6">
            <div class="row" style="margin-top: 13% !important;">
              <div class="col-md-8">
            <div id="chart_div" class="card"></div>
          </div>
          </div>
        </div>

          <div class="col-md-6">
          <div class="row " [hidden]="!showTable">

            <select  [(ngModel)]="selectedBrand" id="brandSelect" class="custom-select mr-sm-2 col-md-7" (ngModelChange)="changeBrand(selectedBrand)" >
              <option value="" disabled selected>Select Brand </option>
              <option *ngFor="let brand of distinctBrands" [ngValue]="brand">{{brand}}</option>
            </select>

            <!-- <select [(ngModel)]="selectedItem" *ngFor="let brand in brands" [value]="brand">{{brand}}</select> -->
          </div>
          <div class="row mt-5">
            <div id="chart_div_bar" class="card"></div>
          </div>
        </div>
         </div>

        </div>


        